.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.find-char--section {
    display: flex;
    grid-gap: 5px;
    padding: 10px;
}
.search-area {
}
#search-input {
  margin-left: 5px;
}

.result-field {
  flex-grow: 1;
  min-height: 100px;
  background-color: blanchedalmond;
}
.nav-list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-list--item button{
  width: 100%;
}

